/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07.11.2015, 18:47:20
    Author     : imaliy
*/

/**
 * Reset AdminLTE styles
 * -----------------------------------------------------------------------------
 */
.box-header > .box-tools {
    position: relative;
}

/**
 * Reset Select2 styles
 * -----------------------------------------------------------------------------
 */
.select2-container--bootstrap .select2-selection,
.select2-container--bootstrap .select2-search--dropdown .select2-search__field {
    border-radius: 0;
    box-shadow: none;
}


/**
 * Panel
 * -----------------------------------------------------------------------------
 */
.panel-default {
  border: 1px solid #f4f4f4;
  border-radius: 0;
}



.has-feedback .select2-container .select2-selection--single .select2-selection__rendered {
    margin-top: 0;
    padding-left: 18px;
}
.has-feedback .form-control-feedback {
    right: auto;
}